#macOS
.DS_Store
Thumbs.db

#local DB
db.json

# Dependency directories
node_modules/
public/
.deploy*/
package.json
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
